{#
/**
 * @var identifier
 * @var host
 * @var timestamp
 * @var drupalVersion
 * @var drupalRisk
 * @var phpVersion
 * @var phpRisk
 * @var gitHeadUrl
 * @var gitHeadName
 * @var gitCommitUrl
 * @var gitCommitHash
 * @var gitCommitDate
 * @var nodeVersion
 */
#}

<div class="c-environment c-section__content u-grid">
  <div>
    <p class="c-environment__paragraph">
      <a class="e-link" href="{{ host }}">{{ identifier }}</a>
    </p>

    <p class="c-environment__paragraph u-small-text">
      Values updated {{ timestamp|date("d.m.Y H:i:s") }}
    </p>
  </div>

  <div>
    {% include '@monitor/c-tag.html.twig' with {
      text: drupalVersion,
      risk: drupalRisk,
    } %}
  </div>

  <div>
    {% include '@monitor/c-tag.html.twig' with {
      text: phpVersion,
      risk: phpRisk,
    } %}
  </div>

  <div>
    <p>
      {% if gitHeadUrl %}
        <a class="e-link" href="{{ gitHeadUrl }}">{{ gitHeadName }}</a>
      {% else %}
        {{ gitHeadName }}
      {% endif %}
    </p>
  </div>

  <div>
    <p class="c-environment__paragraph">
      {% if gitCommitUrl %}
        <a class="e-link" href="{{ gitCommitUrl }}">{{ gitCommitHash }}</a>
      {% else %}
        {{ gitCommitHash }}
      {% endif %}
    </p>

    {% if gitCommitDate %}
      <p class="c-environment__paragraph u-small-text">
        {{ gitCommitDate }}
      </p>
    {% endif %}
  </div>

  <div>{{ nodeVersion }}</div>
</div>
