{#
/**
 * @var identifier
 * @var host
 * @var timestamp
 * @var drupalVersion
 * @var drupalRisk
 * @var phpVersion
 * @var phpRisk
 * @var gitHeadUrl
 * @var gitHeadName
 * @var gitCommitUrl
 * @var gitCommitHash
 * @var gitCommitDate
 * @var nodeVersion
 */
#}

<div class="c-environment c-section__content u-grid">
  <div>
    <p class="c-environment__paragraph">
      <a class="e-link" href="{{ environment.host }}" target="_blank">{{ environment.identifier }}</a>
    </p>

    <p class="c-environment__paragraph u-small-text">
      Values updated {{ environment.timestamp|date("d.m.Y H:i:s") }}
    </p>
  </div>

  <div>
    {% include '@monitor/c-tag.html.twig' with {
      text: environment.drupal.version,
      risk: environment.drupal.risk,
    } %}
  </div>

  <div>
    {% include '@monitor/c-tag.html.twig' with {
      text: environment.php.version,
      risk: environment.php.risk,
    } %}
  </div>

  <div>
    <p>
      {% if environment.git.headUrl %}
        <a class="e-link" href="{{ environment.git.headUrl }}" target="_blank">{{ environment.git.head }}</a>
      {% else %}
        {{ environment.git.head }}
      {% endif %}
    </p>
  </div>

  <div>
    <p class="c-environment__paragraph">
      {% if environment.git.commitUrl %}
        <a class="e-link" href="{{ environment.git.commitUrl }}" target="_blank">{{ environment.git.commit }}</a>
      {% else %}
        {{ environment.git.commit }}
      {% endif %}
    </p>

    {% if environment.git.commitDate %}
      <p class="c-environment__paragraph u-small-text">
        {{ environment.git.commitDate }}
      </p>
    {% endif %}
  </div>

  <div>{{ environment.node.version }}</div>

  <ul>
    {% for key, value in environment.npm %}
      <li><strong>{{ key }}:</strong> {{ value }}</li>
    {% endfor %}
  </ul>
</div>
