{#
{% for project in monitor.projects %}
  Project: {{ project.identifier }}<br/>
  {% for environment in project.environments %}
    Environment: {{ environment.identifier }}<br/>
    Host: {{ environment.host }}<br/>
    Updated: {{ environment.timestamp|date("d.m.Y H:i:s") }}<br/>
    Drupal: {{ environment.drupal.version }}<br/>
    PHP: {{ environment.php.version }}<br/>
    Node: {{ environment.node.version }}<br/>
    Git Commit: <a href="{{ environment.git.commitUrl }}">{{ environment.git.commit }}</a><br/>
    Git Head: <a href="{{ environment.git.headUrl }}">{{ environment.git.head }}</a><br/><br/>
  {% endfor %}
{% endfor %}
#}

{#
/**
 * @var monitor.instances
 *
 */
#}

{{ attach_library('monitor/monitor') }}

{% include '@monitor/c-tag.html.twig' with {
  text:  '9.4.2. &middot; 75',
  color: 'green',
} %}

{% set currentProject = null %}

<table>
  <thead>
    <tr>
      <th>Projekt</th>
      <th>Drupal</th>
      <th>PHP</th>
      <th>Head</th>
      <th>Commit</th>
      <th>Node</th>
    </tr>
  </thead>

  {#<tbody>#}

    {% for instance in monitor.instances %}

      {% set isNextProject = currentProject != instance.project %}

      {% if isNextProject %}
        {% set currentProject = instance.project %}
        <tbody>
          <tr>
            <td>
              <h1><strong>{{ instance.project }}</strong></h1>
            </td>
          </tr>
      {% endif %}

      <tr>
        <td>
          <p>{{ instance.environment }}</p>
          <p>Values updated {{ instance.timestamp|date("d.m.Y H:i:s") }}</p>
        </td>

        <td>{{ instance.data.drupal.version }}</td>
        <td>{{ instance.data.php.version }}</td>
        <td><a href="{{ instance.data.git.headUrl }}">{{ instance.data.git.head }}</a></td>
        <td><a href="{{ instance.data.git.commitUrl }}">{{ instance.data.git.commit }}</a></td>
        <td>{{ instance.data.node.version }}</td>
      </tr>

    {% endfor %}

  </tbody>
</table>



