{#
{% for project in monitor.projects %}
  Project: {{ project.identifier }}<br/>
  {% for environment in project.environments %}
    Environment: {{ environment.identifier }}<br/>
    Host: {{ environment.host }}<br/>
    Updated: {{ environment.timestamp|date("d.m.Y H:i:s") }}<br/>
    Drupal: {{ environment.drupal.version }}<br/>
    PHP: {{ environment.php.version }}<br/>
    Node: {{ environment.node.version }}<br/>
    Git Commit: <a href="{{ environment.git.commitUrl }}">{{ environment.git.commit }}</a><br/>
    Git Head: <a href="{{ environment.git.headUrl }}">{{ environment.git.head }}</a><br/><br/>
  {% endfor %}
{% endfor %}
#}

{#
/**
 * @var monitor.instances
 *
 */
#}

{{ attach_library('monitor/monitor') }}

<div class="l-monitor">
  <header class="l-monitor__header c-section">
        <div class="l-monitor__header-content c-section__content u-grid">
          <div>Projekt</div>
          <div>Drupal</div>
          <div>PHP</div>
          <div>Head</div>
          <div>Commit</div>
          <div>Node</div>
        </div>
  </header>

  <main class="l-monitor__list">

    {% for project in monitor.projects %}

      {% set projectClasses = [
        'l-monitor__project',
        'l-monitor__project--' ~ cycle(['odd', 'even'], loop.index0),
        'c-section',
      ] %}

      <div class="{{ projectClasses|join(' ')|trim }}">
        <div class="l-monitor__project-title c-section__content">
          {% include '@monitor/c-collapsible-trigger.html.twig' with {
            title: project.identifier,
          } %}
        </div>

        {% for environment in project.environments %}

          <div class="l-monitor__environment c-section__content u-grid">
            <div>
              <p class="l-monitor__host">
                <a href="{{ environment.host }}">{{ environment.identifier }}</a>
              </p>

              <p class="l-monitor__updated u-small-text">
                Values updated {{ environment.timestamp|date("d.m.Y H:i:s") }}
              </p>
            </div>

            <div>
              {% include '@monitor/c-tag.html.twig' with {
                text: environment.drupal.version,
                risk: environment.drupal.risk,
              } %}
            </div>

            <div>
              {% include '@monitor/c-tag.html.twig' with {
                text: environment.php.version,
                risk: environment.php.risk,
              } %}
            </div>

            <div><a href="{{ environment.git.headUrl }}">{{ environment.git.head }}</a></div>
            <div><a href="{{ environment.git.commitUrl }}">{{ environment.git.commit }}</a></div>
            <div>{{ environment.node.version }}</div>
          </div>

        {% endfor %}

      </div>

    {% endfor %}

  </main>
</div>


