{#
/**
 * @var monitor.instances
 *
 */
#}

{{ attach_library('monitor/monitor') }}

<div class="l-monitor">
  <header class="l-monitor__header c-section">
    <div class="l-monitor__header-content c-section__content u-grid">
      <div>Projekt</div>
      <div><a class="e-link" href="{{ monitor.globals.drupal.changelogUrl }}" target="_blank">Drupal {{ monitor.globals.drupal.version }}</a></div>
      <div><a class="e-link" href="{{ monitor.globals.php.changelogUrl }}" target="_blank">PHP {{ monitor.globals.php.version }}</a></div>
      <div>Head</div>
      <div>Commit</div>
      <div>Node</div>
      <div>Outdated npm packages</div>
    </div>
  </header>

  <main class="l-monitor__list">

    {% for project in monitor.projects %}

      {% set projectClasses = [
        'l-monitor__project',
        'l-monitor__project--' ~ cycle(['odd', 'even'], loop.index0),
        'c-section',
      ] %}

      <div class="{{ projectClasses|join(' ')|trim }}">

        {% if project.environments|length == 1 %}

          <div class="l-monitor__project-title c-section__content">
            {% include '@monitor/c-collapsible-trigger.html.twig' with {
              title:         project.identifier,
              isCollapsible: false,
            } %}
          </div>

          {% include '@monitor/c-environment.html.twig' with {
            environment: project.environments.0,
          } %}

        {% else %}

          {% embed '@monitor/c-collapsible-item.html.twig' with {
            collapsibleGroupId: 'monitor',
          } %}
            {% block collapsibleSummary %}
              <div class="l-monitor__project-title c-section__content">
                {% include '@monitor/c-collapsible-trigger.html.twig' with {
                  title:         project.identifier,
                  isCollapsible: true,
                } %}
              </div>

              {% include '@monitor/c-environment.html.twig' with {
                environment: project.environments.0,
              } %}
            {% endblock %}

            {% block collapsibleDetail %}
              {% for environment in project.environments %}
                {% if loop.index0 > 0 %}
                  {% include '@monitor/c-environment.html.twig' with {
                    environment: environment,
                  } %}
                {% endif %}
              {% endfor %}
            {% endblock %}
          {% endembed %}

        {% endif %}

      </div>

    {% endfor %}

  </main>
</div>


