{#
{% for project in monitor.projects %}
  Project: {{ project.identifier }}<br/>
  {% for environment in project.environments %}
    Environment: {{ environment.identifier }}<br/>
    Host: {{ environment.host }}<br/>
    Updated: {{ environment.timestamp|date("d.m.Y H:i:s") }}<br/>
    Drupal: {{ environment.drupal.version }}<br/>
    PHP: {{ environment.php.version }}<br/>
    Node: {{ environment.node.version }}<br/>
    Git Commit: <a href="{{ environment.git.commitUrl }}">{{ environment.git.commit }}</a><br/>
    Git Head: <a href="{{ environment.git.headUrl }}">{{ environment.git.head }}</a><br/><br/>
  {% endfor %}
{% endfor %}
#}

{#
/**
 * @var monitor.instances
 *
 */
#}

{{ attach_library('monitor/monitor') }}

{% set currentProject = null %}

<table>
  <thead>
  <tr>
    <th>Projekt</th>
    <th>Drupal</th>
    <th>PHP</th>
    <th>Head</th>
    <th>Commit</th>
    <th>Node</th>
  </tr>
  </thead>

  {% for project in monitor.projects %}
    <tbody>

    <tr>
      <td>
        <h2>{{ project.identifier }}</h2>
      </td>
    </tr>

    {% for environment in project.environments %}
      <tr>
        <td>
          <p>{{ environment.identifier }}</p>
          <p>Values updated {{ environment.timestamp|date("d.m.Y H:i:s") }}</p>
        </td>

        <td>
          {% include '@monitor/c-tag.html.twig' with {
            text: environment.drupal.version,
            risk: environment.drupal.risk,
          } %}
        </td>

        <td>
          {% include '@monitor/c-tag.html.twig' with {
            text: environment.php.version,
            risk: environment.php.risk,
          } %}
        </td>

        <td><a href="{{ environment.git.headUrl }}">{{ environment.git.head }}</a></td>
        <td><a href="{{ environment.git.commitUrl }}">{{ environment.git.commit }}</a></td>
        <td>{{ environment.node.version }}</td>
      </tr>
    {% endfor %}

    </tbody>
  {% endfor %}

</table>



